@model LancheListViewModel
<!--model IEnumerable<LanchesMac.Models.Lanche> OPÇÃO FORTEMETNE TIPADA-->
<!--DIRETIVA model DEFINE O MODELO USADO NA VIEW -->

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
@foreach ( var lanche in Model.Lanches)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>
</div>

